body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(33, 33, 33, 1);
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
/* header */
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: rgba(33, 150, 243, 1);
}
.logo--header {
  color: rgba(33, 33, 33, 1);
}
.header__nav {
  margin-left: 93px;
}
.nav__list {
  display: flex;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;  
  transition: color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: rgba(33, 150, 243, 1);
}
.nav__link--current {
  color: rgba(33, 150, 243, 1);
}
.contact__list {
  display: flex;
  margin-left: auto;
}
.contact__item:not(:first-child) {
  margin-left: 50px;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition: color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contact__link:hover,
.contact__link:focus,
.contact__link:active {
  color: rgba(33, 150, 243, 1);
}

/* hero */
.hero {
  background-color: rgba(47, 48, 58, 1);
}
.hero__container {
  padding: 200px 15px;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.hero-button {
  border: none;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}

/* about */
.about__container {
  padding: 94px 15px;
}
.about__title {
  display: none;
}
.about__list {
  display: flex;
}
.about__item:not(:first-child) {
  margin-left: 30px;
}
/* .about__item {} */
.about__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
}
.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

/* working */
.working__container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}
.working__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;  
}
.working__list {
  display: flex;
  margin-top: 50px;
}
.working__item:not(:first-child) {
  margin-left: 30px;
}
/* teams */
.teams {
  background-color: rgba(245, 244, 250, 1);
}
.teams__container {
  padding: 94px 15px;
}
.teams__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;  
}
.teams__list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-left: -30px;
}
.teams__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.item-tumb {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 4px 4px;
}
.teams__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.teams__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
/* footer */
.footer {
  background-color: rgba(47, 48, 58, 1);
}
.footer__container {
  padding: 60px 15px;
}
.logo--footer {
  color: rgba(255, 255, 255, 1);
}
.footer__info {
  font-style: normal;
  margin-top: 20px;
}
.footer__item:not(:first-child) {
  margin-top: 9px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer__link--white {
  color: rgba(255, 255, 255, 1);
}
.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: rgba(33, 150, 243, 1);
}

/* portfolio */
.portfolio__container {
  padding: 94px 15px;
}
.portfolio__title {
  display: none;
}
.portfolio-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-examples__link {
  color: rgba(33, 33, 33, 1);
}
.portfolio-filter__item:not(:first-child) {
  margin-left: 8px;
}
.portfolio-filter__button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;
  transition: color 800ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus,
.portfolio-filter__button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.portfolio-examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-examples__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(238, 238, 238, 1);
}
.portfolio-examples__box {
  padding: 20px 24px;
  flex-grow: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-examples__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}
